python-telegram-bot[job-queue]
python-dotenv
aiohttp
requests
aria2
urllib3
yarl
sniffio
beautifulsoup4
soupsieve
lxml
Pillow
pytesseract
psutil
python-dateutil
six
python-whois
yt-dlp[default]
gallery-dl
deep-translator
dnspython
uvloop
aiofiles
cryptg
telethon
yt-search-py
lottie
pyrofork
tgcrypto-pyrofork
FastTelethonHelper